h1{
    font-size: 200px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

.nameHeader{
    margin-bottom: 0%;
}

.fiveRight{
    margin-right: 5px;
}

.fiveTop{
    margin-top: 5px;
}

.backgroundColor{
    background-color: lightblue;
}

.socialBackground{
    background-color: white;
}


body{
    background-color: lightblue;

}